.carousel-item {
  height: 32rem;
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(/images/biancavandijk-monstera-8957004_1920.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(/images/keenyam-background-9509852_1920.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(/images/ylanite_nietjuhart-background-8129599_1920.jpg);
}
